<section class="px-[1em] pt-[1em] pb-[2em] [border:var(--border-card)] rounded-xl bg-list-bg shadow-card flex flex-col gap-[1em]">
  <div class="flex justify-between items-center pb-[0.75em] border-b border-(--color-card-border,#E6E8F0)">
    
    <div class="flex gap-2 items-center">
      <span class="w-2 h-2 rounded-full bg-gray-400 shrink-0"></span>
      <h3 class="font-semibold text-base-size">Wishlist</h3>
    </div>
    
    <span class="bg-gray-100 text-secondary-font rounded-full min-w-[1.5em] h-[1.5em] px-1.5 flex items-center justify-center text-label-size font-medium">2</span>
  </div>
   <button class="mt-1 w-full cursor-pointer border border-dashed border-(--color-card-border) rounded-xl py-[0.6em] text-small-size text-card-muted hover:text-secondary-font transition-colors">
    + Ajouter une candidature
  </button>
  <app-application-card></app-application-card>
  <app-application-card></app-application-card>
  <app-application-card></app-application-card>
  <app-application-card></app-application-card>
 
</section>
