<div class="
p-[1em] flex flex-col justify-between gap-[1em]
[border:var(--border-card)] shadow-card rounded-2xl
cursor-pointer transition-shadow hover:shadow-card-hover
">
  <div class="flex justify-between">
    <div>
      <p class="font-bold text-base-size">Componize - Aix en Provence</p>
      <p class="text-small-size text-card-muted">Développeur Full Stack Alternance</p>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="applicationMenu"
      aria-label="Actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #applicationMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>visibility</mat-icon>
        <span>Voir en détails</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Modifier</span>
      </button>
      <button mat-menu-item>
        <mat-icon >delete</mat-icon>
        <span class="text-red-500">Supprimer</span>
      </button>
    </mat-menu>
  </div>
  <div class="flex gap-[0.5em] flex-wrap">
    <span class="text-label-size py-tag-padding-y px-tag-padding-x [border:var(--border-tag-applied)] bg-tag-applied-bg rounded-tag">CV Envoyé</span>
    <span class="text-label-size py-tag-padding-y px-tag-padding-x [border:var(--border-card)] rounded-tag text-card-muted">Présentiel</span>
  </div>
  <div class="flex justify-between">
    <span class="text-card-muted text-label-size">Envoyé il y a 3 j.</span>
    <div class="flex items-center gap-[0.5em] text-card-muted text-label-size">
      <img src="./assets/bell-small.svg" class="h-[18px] w-[18px]" alt="">
      <span>A rappeler dans 3j.</span>
    </div>
  </div>
</div>
